<p><strong>FAQ</strong></p>
<ul>
    <li><strong>Tips to use the application.</strong></li>
</ul>
<ol>
    <li>The application has 4 screens.</li>
    <li>First screen allows the user to add location to bookmarks which can be viewed later as well.
        The locations are stored into the database with the last updated weather information.
    </li>
    <li>Second screen is initiaed when user selects the option to add a location to bookmark. This
        screen consists of a map view with a pointer in the center. Once the user points the pointer
        on the desired location, clicking on bookmark location button adds the location to the
        bookmarked list.
    </li>
    <li>Third screen is the weather screen for the locations. Once the selects any of the bookmarked
        location, City screen appears with all the weather information. This screen has a imageView
        provided which is incomplete. (It was added so that the image name provided in the response
        could be mapped with the images that are shown in the api's website.)
    </li>
    <li>Fourth screen appears from the city screen, Future Forecast option is provided in the option
        menu of the screen, which provides the user with the future forecast predictions for the
        same location that is selected.
    </li>
    <li>To Remove the bookmarked locations, user need to long-press the item.</li>
</ol>
<ul>
    <li><strong>Pending Stuff</strong></li>
</ul>
<ol>
    <li>Responsive Ui for landscape mode in tablet: As mentioned in the document, only single
        activity should be used to for all the fragments in the application. This created a problem
        in creating the responsive UI for the City screen(mapview), as it did not allow to change
        the fragment container while moving to landscape or vice-versa.
    </li>
    <li>Optional feature Search on list.</li>
</ol>
<p>&nbsp;</p>